<!-- <footer>
    <div class="footer-links">
      <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a>
    </div>
    <p>&copy; 2024 ShoppingHub. All rights reserved.</p>
  </footer> -->
  


   <footer>
    <div class="footer-container">
      <div class="footer-column">
        <h4>About Us</h4>
        <p>ShoppingHub is your one-stop destination for the latest gadgets, fashion, and more. We aim to provide top-quality products with excellent customer service.</p>
      </div>
      <div class="footer-column">
        <h4>Categories</h4>
        <ul>
          <li><a routerLink="/electronic">Electronics</a></li>
          <li><a routerLink="/electronic">Fashion</a></li>
          <li><a routerLink="/electronic">Home & Kitchen</a></li>
          <li><a routerLink="/electronic">Sports & Fitness</a></li>
          <li><a routerLink="/electronic">Books</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h4>Quick Links</h4>
        <ul>
          <li><a routerLink="/privacy">Privacy Policy</a></li>
          <li><a routerLink="/term">Terms of Service</a></li>
      
          <li><a routerLink="/contact">Contact Us</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h4>Contact</h4>
        <p>Email: supportshoppinghub.com</p>
        <p>Phone: +91 983738292 </p>
        <p>Address: Woratech Baner pune Haveli </p>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; 2024 ShoppingHub. All rights reserved.</p>
    </div>
  </footer>
  