
<app-navbar></app-navbar>
<div class="w">   
  <div *ngIf="orders.length > 0; else noOrders" > 
     <h2 class="order-list-title">Order List</h2>
    <div class="order-section" *ngFor="let order of orders">
      <h3 class="order-header">Order #{{ orders.indexOf(order) + 1 }}</h3>
      <div class="order-details">
        <p><strong>Product:</strong> {{ order.productName }}</p>
        <p><strong>Quantity:</strong> {{ order.quantity }}</p>
        <p><strong>Delivery Mode:</strong> {{ order.deliveryMode }}</p>
        <p><strong>Payment Mode:</strong> {{ order.paymentMode }}</p>
        <p><strong>Address:</strong> {{ order.address }}</p>
        <p><strong>Contact Info:</strong> {{ order.contactInfo }}</p>
      </div>
    </div> 
  </div ></div>
  <ng-template #noOrders>
    <p class="no-orders">No orders found!</p>
  </ng-template>
  <app-footer></app-footer>