


<div class="container">
  <div class="form-container">
    <h2>Login</h2>

    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>

    <form (ngSubmit)="onLoginSubmit()">
      <button type="button" (click)="onGoogleLogin()" class="google-btn" id="googleSignInButton">
        Sign In With Google
      </button>

      <div class="divider"><span>OR</span></div>

      <div class="input-group">
        <input
          type="email"
          [(ngModel)]="loginModel.email"
          (input)="loginModel.email = loginModel.email.toLowerCase()"
          placeholder="Email"
          name="email"
          required
        />
      </div>

      <div class="input-group">
        <input
          type="password"
          [(ngModel)]="loginModel.password"
          placeholder="Password"
          name="password"
          required
        />
      </div>

      <button type="submit" class="submit-btn">Login</button>
    </form>

    <div class="switch">
      <label routerLink="/signup">Don't have an account? <span>Sign Up</span></label>
    </div>
    <div class="switch">
      <label routerLink="/forget">Forgot Password? <span>Reset here</span></label>
    </div>
  </div>
</div>

