


<div class="products-section">
 
  <div class="products-grid">
    <div class="product-card" *ngFor="let product of products">
      <div class="image-container">
        
        <img [src]="'http://localhost:8083/uploads/' + product.image" alt="{{ product.name }}" />
      </div>
      <h3>{{ product.name }}</h3>
      <p class="price">₹{{ product.price }}</p>
      <div class="product-actions">
        <button class="buy-now-btn" [routerLink]="['/produc', product.name]">View Product</button>
      </div>
    </div>
  </div>
</div>


